<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CsvHelper" version="6.1.1" targetFramework="net461" />
  <package id="EMGU.CV" version="3.3.0.2824" targetFramework="net461" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net461" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net461" />
  <package id="M2Mqtt" version="4.3.0.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.1" targetFramework="net461" />
  <package id="OpenTK" version="1.1.2225.0" targetFramework="net461" />
  <package id="OpenTK.GLControl" version="1.1.2225.0" targetFramework="net461" />
  <package id="SQLite" version="3.13.0" targetFramework="net461" />
  <package id="sqlite-net" version="1.0.8" targetFramework="net461" />
  <package id="ZedGraph" version="5.1.7" targetFramework="net461" />
</packages>